body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sidebar {
  width: 15%;
  float: left;
  background-color: whitesmoke;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
  margin-top: -150px;

}

.sidebar-links {
  list-style: none;
  margin-left: -50px;
  margin-top: -10px;
}

.wiki-logo{
  margin-bottom: 40px;
  margin-left: -25px;
  width:165px
}

.list-header {
  color: gray;
  margin-left: -10px;
}

hr {
  margin-top: -15px;
}

.articles {
  /* border: 1px solid black;  */
  margin-top: -15px;
  padding-left: 50px;

}

.welcome-screen {
  border: 2px solid black;
  margin-top: 150px;
  background-color: whitesmoke;
}

.welcome-screen, h3, p {
  text-align: center;

}



